.fadein{
   display: inline-block;
}
h1{
  font-size:56px;
  width: 0%;
  overflow:hidden;
}
.fadein-anime h1{
  background: yellow;
  animation:fadein 1000ms ease-out 500ms forwards;
}


.fadein-hover{
  display: flex;
  width: 100%;
}
.start{
  justify-content: flex-start;
}
.center{
  justify-content: center;
}
.end{
  justify-content: flex-end;
}
.fadein-hover h1{

  background: red;
  transition: 1000ms ease;
  width: inherit;
}
.fadein-hover:hover h1{
  width: 0%;
}


@keyframes fadein{
  0%{
    width: 0%
  }
  100%{
    width: 100%;
  }
}
